/* Principais */
:root {
  --default-margin: auto;
  --default-border: auto;
}

* {
  background-color: #778181e0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  text-align: justify;
}

html {
  margin-block-start: var(--default-margin);
  margin-block-end: var(--default-margin);
  height: 294.969px;
  width: 700px;
  margin-left: var(--default-margin);
  margin-right: var(--default-margin);
}

body {
  margin-left: var(--default-margin);
  margin-right: var(--default-margin);
}
p {
  text-align: justify;
  font-size: medium;
  margin-bottom: 2em;
}

h1 {
  font-size: xx-large;
  margin-right: var(--default-margin);
}

#results {
  margin-bottom: 20px;
}

/* Imagens */
img {
  height: 294.969px;
  width: 492px;
  margin: auto;
  display: flex;
  margin-left: var(--default-margin);
  margin-right: var(--default-margin);
}
.homePicture {
  display: flex;
  margin-left: var(--default-margin);
  margin-right: var(--default-margin);
}

/* Botões */
.jogarNovamente {
  background-color: rgba(18, 68, 102, 0.863);
  color: #fff;
  border: var(--default-border);
  border-radius: 3px;
  padding: 20px;
  cursor: pointer;
  display: inline-block;
  margin-top: 1em;
  margin-right: 2em;
  margin-bottom: 2em;
  margin-left: 2em;
  text-decoration: none;
}

.jogarNovamente:hover {
  background-color: rgb(68, 129, 209);
}

#submit {
  background-color: rgb(12, 107, 80);
  color: #fff;
  border: var(--default-border);
  border-radius: 3px;
  padding: 20px;
  cursor: pointer;
  margin-top: 1em;
  margin-right: 2em;
  margin-bottom: 2em;
  margin-left: 2em;
}

#submit:hover {
  background-color: #3a8;
}
.start {
  background-color: rgb(153, 34, 34);
  color: #fff;
  border: var(--default-border);
  border-radius: 3px;
  padding: 20px;
  cursor: pointer;
  text-decoration: none;
  margin-top: 1em;
  margin-right: 2em;
  margin-bottom: 2em;
  margin-left: 14em;
}

.start:hover {
  background-color: red;
}

/* Questionário */

.question {
  font-weight: 600;
  font-size: x-large;
  margin: 10px;
}

.answers {
  margin: 20px;
}

label {
  display: inline-block;
  font-size: medium;
  margin: 9px;
  cursor: pointer;
}

input {
  cursor: pointer;
}

#home {
  height: 60px;
}

footer {
  display: block;
}

#results {
  display: block;
}
