* {
    background-color: rgba(110, 104, 104, 0.541);
}

img {
    height: 294.969px;
    width: 492px;
}

.homePicture {
    display: flex;
    margin-left: auto;
    margin-right: auto
}

h1 {
    display: block;
    font-size: 2em;
    margin-block-start: auto;
    margin-block-end: auto;
    margin-inline-start: auto;
    margin-inline-end: auto;
    font-weight: bold;
    text-align: center;
}

h2,
p,
button {
    display: block;
    font-size: 2em;
    margin-block-start: auto;
    margin-block-end: auto;
    margin-inline-start: auto;
    margin-inline-end: auto;
    font-weight: 200;
    text-align: center;
}