:root {
    --default-margin: auto;
}

* {
    background-color: rgba(160, 150, 150, 0.781);
    font-family: Arial, Helvetica, sans-serif;
    font-display: unset;
}

img {
    height: 294.969px;
    width: 492px;
}

.homePicture {
    display: flex;
    margin-left: var(--default-margin);
    margin-right: var(--default-margin);
}

h1 {
    display: block;
    font-size: 2em;
    margin-block-start: var(--default-margin);
    margin-block-end: var(--default-margin);
    margin-inline-start: var(--default-margin);
    margin-inline-end: var(--default-margin);
    font-weight: bold;
    text-align: center;
}

h2 {
    display: block;
    font-size: 2em;
    margin-block-start: var(--default-margin);
    margin-block-end: var(--default-margin);
    margin-inline-start: var(--default-margin);
    margin-inline-end: var(--default-margin);
    font-weight: 200;
    text-align: center;
}

p {
    font-weight: 100;
    font-size: 20px;
}

html {
    display: block;
    margin-block-start: var(--default-margin);
    margin-block-end: var(--default-margin);
    height: 294.969px;
    width: 700px;
    margin-left: var(--default-margin);
    margin-right: var(--default-margin);
}

button {
    appearance: auto;
    writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: flex;
    text-align: center;
    align-items: flex-start;
    box-sizing: border-box;
    background-color: -internal-light-dark(rgb(239, 239, 239), rgb(59, 59, 59));
    margin: 0em;
    padding: 1px 6px;
    border-width: 2px;
    border-style: hidden;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
    border-radius: 2px;
    cursor: pointer;
    margin-block-end: 1em;
}

/* .styled {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(220, 0, 0, 1);
    background-image: linear-gradient(to top left,
            rgba(0, 0, 0, 0.2),
            rgba(0, 0, 0, 0.2) 30%,
            rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6),
        inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}

.styled:hover {
    background-color: rgba(255, 0, 0, 1);
}

.styled:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6),
        inset 2px 2px 3px rgba(0, 0, 0, 0.6);
} */